{% extends "base.html" %}
{% load static i18n thumbnail %}

{% block service %}
<div class="container">
  <div class="row">
    <h4>{% trans 'Services' %}</h4>
    <h2>{% trans 'List of services provided' %}</h2>
    <img class="img-responsive" src="{% static '/images/daag.png' %}" alt="">
    
    {% for item in services %}
    <div class="col-md-3 wow zoomIn animated">
      <i class="{{ item.icon }}"></i>
      <h3>{{ item.title }}</h3>
      {{ item.desc|safe }}
    </div>
    {% endfor %}
    
  </div>
</div>
{% endblock service%}


{% block team %}
<div class="container">  
  <div class="row">
    
    <div class="pricing-slide-heading text-center">
      <h4>{% trans 'Primary assets are people' %}</h4>
      <h2>{% trans 'Team members' %}</h2>
      <img class="img=responsive" src="{% static '/images/daag.png' %}" alt="">
    </div>
    
    <div class="the-pricing-slider">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	  <div class="item active">
	    {% for item in team_members %}
	    <div class="col-md-6 col-xs-12 col-sm-12 wow zoomIn animated">
	      
	      <div class="person">
		{% thumbnail item.user.photo "100x100" crop="center" as im %}
		<img class="img-circle img-responsive" src="{{im.url}}" alt="">
		{% endthumbnail %}
		<h6>{{item.user.first_name}} {{item.user.last_name}}</h6>
		<h5>{{ item.position }}</h5>
		<p>{{ item.skills|safe }}</p>
	      </div>
	      
	    </div>
	    {% endfor %}
	  </div>
	</div>

      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block contact %}
<div class="container">
  <div class="row">
    <div class="contact-heading">
      <h4>{% trans 'stay in touch' %}</h4>
      <h2>{% trans 'Contacts' %}</h2>
      <img class="img-responsive" src="{% static '/images/daag.png' %}" alt="">
    </div>
    
    {% for item in contacts %}
    <div class="col-md-2 col-md-offset-1 col-xs-4 col-sm-4">
      <i class="fa fa-phone"></i>
      <p>Phone: {{item.phone}}</p>
      {% if item.fax %}}
      <p>Fax: {{item.fax}}</p>
      {% endif %}
    </div>
    <div class="col-md-4 col-md-offset-1 col-xs-4 col-sm-4">
      <i class="fa fa-map-marker"></i>
      <p>{{ item.address }}</p>
    </div>
    <div class="col-md-3 col-md-offset-1 col-xs-4 col-sm-4 clearfix">
      <i class="fa fa-envelope-o"></i>
      <p>{{ item.email}}</p>
    </div>
    {% endfor contacts %}
    
    <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
      <article class="contact-form">
	<form action="contact">
	  <div class="col-md-5 col-md-offset-1 contact-form-left">
	    <input class="name" type="text" placeholder="NAME*">
	    <input class="email" type="email" placeholder="EMAIL*">
	    <input class="subject" type="text" placeholder="SUBJECT*">
	  </div>
	  <div class="col-md-5 contact-form-right text-right">
	    <textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="MESSAGE"></textarea>
	    <input type="submit" class="submit-btn" value="send message">
	  </div>
	</form>
      </article>
    </div>
  </div>
</div>
{% endblock contact %}

{% block about %}
<div class="container">
  <div class="row">
    
    <div class="col-md-6 col-xs-12 col-sm-12 wow slideInUp animated">
      {% for item in abouts %}    
      <h4>dip into the details</h4>
      <h2>{{item.title}}</h2>
      <img class="img-responsive" src="{% static '/images/daag.png' %}" alt="">
      {{item.body|safe}}
      {% endfor %}      
    </div>
    
    <div class="col-md-6 col-xs-12 col-sm-12 wow slideInUp animated">
      
      {% for item in certs %}    
      <div class="col-md-6 col-xs-12 col-sm-12 wow slideInUp animated">
	{% thumbnail item.image "288x200" crop="center" as im %}
	<a href="#" data-toggle="modal" data-target=".cert-{{item.id}}">
	  <img class="img-responsive" src="{{im.url}}" alt="">
	</a>
	{% endthumbnail %}
      </div>
      {% endfor %}
      
    </div>

  </div>
</div>

{% for item in certs %}
<div class="modal fade cert-{{item.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">{{item.user.position}}: {{item.user.user.first_name}} {{item.user.user.last_name}}</h5>
      </div>
      
      <div class="modal-body">
	{% thumbnail item.image "720" crop="center" as im %}
	<img class="img-responsive" src="{{im.url}}" alt="">
	{% endthumbnail %}
      </div>
      
    </div>
  </div>
</div>
{% endfor %}

{% endblock about %}
